@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

html {
overflow-x: hidden;
padding: 0 !important;
margin: 0px !important;
}
body, html {
    background-color: #E0E0E0 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 300 !important;
}

.header-font {
    font-size: 50px;
text-align: center;
line-height: normal;
vertical-align: baseline;
margin: 0px;
padding: 0px;
float: left;
line-height: 0px;
}
.logo {
    width: 210px;
    height: 77px;
    -webkit-transition: width 0.3s, height .3s, opacity .3s;
    -moz-transition: width 0.3s, height .3s, opacity .3s;
    -ms-transition: width 0.3s, height .3s, opacity .3s;
    -o-transition: width 0.3s, height .3s, opacity .3s;
    transition: width 0.3s, height .3s, opacity .3s;
}
.logo.shrink {
    width: 160px;
    height: 30px;
    -moz-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
    -webkit-transition: width 0.3s, height .3s;
    -moz-transition: width 0.3s, height .3s;
    -ms-transition: width 0.3s, height .3s;
    -o-transition: width 0.3s, height .3s;
    transition: width 0.3s, height .3s;
}

.no-margin {
    margin: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.full-img img {
    width:100%;
    height: auto;
}
.breathe {
    margin: 50px 0 50px 0;
}
.call-to-action-header {

}
.call-to-action-header h3 {
    margin-bottom: 10px !important;
    
}
.call-to-action-header p {
    
}
.logo:hover {
    opacity: .8;
}



/*/////////////////////
SERVICES LIST
/////////////////////*/
   
    .services-list {
        margin-bottom: 30px;
        list-style: none;     font-family: 'Open Sans', sans-serif !important;
    }
    
    .services-list h4 { margin-bottom: 0;font-size: 20px; }
    .services-list h4 a { text-decoration: none; }
    
    .services-list li {
        position: relative;
        min-height: 100px;
        margin-bottom: 20px;
    }
    
    .services-list li:last-child { margin-bottom: 0; }
    
    .services-list li:after {
        position: absolute;
        bottom: -10px;
        left: 24px;
        height: 50px;
        border-left: 1px solid #65c5bd;
        content: "";
    }
    
    .services-list li:last-child:after { border: none; }
    
    .services-list li i {
        float: left;
        display: block;
        width: 48px;
        height: 48px;
        border: 2px solid #aaaaaa;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        outline: 10px solid transparent;
        color: #aaaaaa;
        font-size: 24px; 
        line-height: 48px;
        text-align: center;
        -webkit-transition: background-color 0.3s;
             -o-transition: background-color 0.3s;
                transition: background-color 0.3s; 
    }
    
    .services-list .services-list-content { margin-left: 80px; }
    
    .services-list li:hover i {
        border-color: #fff;
        color: #fff; 
    }

/*/////////////////////
 SLIDER
/////////////////////*/

.slider {
    margin-top: 110px;
}
.slide1 {
    padding-top: 20px;
    width: 1300px;
    height: 465px;
}
.screen1{
    display: none;
}
.tagline {
    width: 500px;
    float: right;
    height: 400px;
    margin-right: 100px;
}
.tagline1 {
    text-align: left;
    font-size: 35px;
    font-weight: bold;
    width: 500px;
    color: #d3d3d3;
    line-height: 45px;
    display: none;
}
.tagline span {
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    line-height: 45px;
    color: #f1f1f1;
    text-shadow: 4px 3px 0px #154268, 7px 6px 0px rgba(0,0,0,0.1);
}
.tagline2 {
    padding-top: 120px;
    font-size: 45px;
    font-weight: bolder;
    text-align: left;
    font-weight: bold;
    color: #f1f1f1;
    display: none;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
    0px 8px 13px rgba(0,0,0,0.1),
    0px 18px 23px rgba(0,0,0,0.1);
}
.slide2 {
    width: 600px;
    height: 470px;
    background: #2570a6;
    border-left: 1px solid #194f77;
}
.sticker {
    width: 450px;
    height: 400px;
    background: src('assets/img/test.png');
    margin-left: 58px;
    padding-top: 20px;
    display: none;
}

.slide3 {
    width: 600px;
    height: 470px;
    background: #267ab5;
}
.screen2 {
    padding-top: 20px;
    display: none;
}
.bottom {
    width: 600px;
    height: 70px;
    background: #2570a6;
    position: absolute;
    bottom: 0;
    display: none;
}

.slide4 {
    width: 600px;
    height: 470px;
    background: #267ab5;
    border-left: 1px solid #206ca0;
}
.screen3 {
    padding-top: 20px;
    display: none;
}
.bottom2 {
    width: 600px;
    height: 70px;
    background: #267ab5;
    position: absolute;
    bottom: 0;
    display: none;
}
.screenshotInfo {
    padding: 14px 60px 0px 60px;
    font-size: 15px;
    font-weight: bold;
    color: #f1f1f1;
    display: none;
}
.slide5 {
    width: 600px;
    height: 470px;
    background: #2570a6;
}

.logoInvert {
    width: 300px;
    height: 120px;
    margin-left: 37px;
    margin-top: 100px;
}
.morebutton {
    width: 200px;
    height: 65px;
    background: #2570a6;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 65px;
    border: 1px solid #E0E0E0;
    color: #E0E0E0;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: background 200ms, color 200ms, width 200ms, border-radius 200ms;
}
.morebutton:hover {
    width: 220px;
    background: #E0E0E0;
    color: #1a4e74;
    text-decoration: none;
    border-radius: 50%;
}

a:hover {
    text-decoration: none !important;
}

/*/////////////////////
 FEAUTURES SECTION
/////////////////////*/
.moreFeatures {
    width: 100% !important;
    background: #154268;
    border-top: 1px solid #E0E0E0;
    padding: 50px 0 50px 0;
}

.moreFeatures ul {
    color: #ffffff;
    font-size: 20px;
    list-style: none;
    line-height: 35px;
    padding-top: 30px;
    font-weight: 400;
}

.sectionHeader1 {
    height: 120px;
    border: 2px solid #E0E0E0;
    background: #205E8C;
    margin-top: -2px;
}

.sectionHeader1 > p {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 75px;
    color: #E0E0E0;
    text-align: center;
}
/*/////////////////////
 HOW IT WORKS SECTION
/////////////////////*/

.sectionHeader3 {
height: 120px;
border: 2px solid #154268;
background: none repeat scroll 0% 0% #E0E0E0;
margin-top: -20px;
float: right;
}
.sectionHeader3::after {
  content:"\00A0";
  display: block;
  position: absolute;
  top: 0;
  left: -24px;
  width: 0;
  height: 0;
  -moz-border-width: 19px 22px 0px 0;
  border-width: 19px 22px 0px 0;
  border-style: solid;
  border-color: transparent #E0E0E0 transparent transparent;
}

.sectionHeader3 > p {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 75px;
    color: #205E8C;
    text-align: center;
}

.howItWorks {
    width: 100%;
    height: auto;
    background: url('../img/HoldingPhone.png')fixed 100% center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 75px 0 75px 0;
}
.howItWorks p {
    color: #fff;
}
.howItWorks h3 {
    color: #fff;
}
.howItWorksTitle {
    color: #154268 !important;
}

/*/////////////////////
 SPECS SECTION
 /////////////////////*/
.specs {
    width: 100%;
    padding-bottom: 75px;
    background: #154268;
    color: #fff;
}

.specs p {
    padding-top: 30px;
}


.specs ul {
    list-style: none;
}

.sectionHeader3 {
    height: 120px;
    border: 2px solid #cbcbcb;
    background: #205E8C;
    margin-top: -20px;
}
.sectionHeader3::after {
  content:"\00A0";
  display: block;
  position: absolute;
  top: 0;
  left: -24px;
  width: 0;
  height: 0;
  -moz-border-width: 19px 22px 0px 0;
  border-width: 19px 22px 0px 0;
  border-style: solid;
  border-color: transparent #205E8C transparent transparent;
}

.sectionHeader3 > p {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 75px;
    color: #E0E0E0;
    text-align: center;
}

/*/////////////////////
 FOOTER SECTION
/////////////////////*/
.footer {
    background-color: #FFFFFF !important;
    width: 100% !important;
    color: #fff;
    background: url(https://managewp.com/wp-content/uploads/2013/11/responsive-blurry-images-wordpress.jpg) center 135px no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer a{
    color: #FFFFFF;
    font-size: 12px;
    font-style: italic;
}

.footer a:hover {
    color: #FFFFFF;
    opacity: 0.5;
}

/*Overwriting Bootstrap Default Styles*/

.navbar-header {
    height: 110px;
        -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
}

.navbar-default {
    background-color: #E0E0E0 !important;
    border-bottom: 2px solid #b1b1b1 !important;
    opacity: .93;
    -moz-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}
.navbar-default:hover {
    opacity: 1;
}


.navbar-default .navbar-nav > li {
    margin-right: 30px;
    margin-top: 34px;
    -webkit-transition: margin-top .3s;
    -moz-transition: margin-top .3s;
    -ms-transition: margin-top .3s;
    -o-transition: margin-top .3s;
    transition: margin-top .3s;
}
.navbar-default .navbar-nav > li > a{
    color: #154368 !important;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 1px solid #E0E0E0;
    -moz-transition: color 200ms, border 200ms;
    -webkit-transition: color 200ms, border 200ms;
    -o-transition: color 200ms, border 200ms;
    transition: color 200ms, border 200ms;
}
.navbar-default .navbar-nav > li > a:hover {
        border: 1px solid #828282;
        color: #a4a4a4 !important;
}
.navbar-default .navbar-brand {
    color: #FFF !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #E0E0E0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #205E8C !important;
}
.navbar-default .navbar-toggle {
    border-color: #FFF !important;
}



/*NAVBAR SHRINK */

.navbar-header.shrink {
    height: 50px;
}

.navbar-default.shrink {
    background-color: #E0E0E0 !important;
    border-bottom: 2px solid #b1b1b1 !important;
    opacity: .93;
    -moz-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}
.navbar-default:hover {
    opacity: 1;
}


.navbar-default .navbar-nav.shrink > li {
    margin-right: 30px;
    margin-top: 10px;
}
.navbar-default .navbar-nav .shrink > li > a{
    color: #A4A4A4 !important;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 1px solid #E0E0E0;
    -moz-transition: color 200ms, border 200ms;
    -webkit-transition: color 200ms, border 200ms;
    -o-transition: color 200ms, border 200ms;
    transition: color 200ms, border 200ms;
}
.navbar-default .navbar-nav .shrink > li > a:hover {
        border: 1px solid #154368;
        color: #154368 !important;
}
.navbar-default .navbar-brand .shrink {
    color: #FFF !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #E0E0E0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #205E8C !important;
}
.navbar-default .navbar-toggle {
    border-color: #FFF !important;
}



/*/////////////////////
SOCIAL FOOTER
/////////////////////*/
.social-container {
  position:relative;
  margin-top:-75px;
}
.social-sub-footer {
    background: rgba(255, 255, 255, 0.3);
    padding: 50px !important;
}
.social-container .social-footer {
  text-align:center;
  background: #FFFFFF;
  height:75px;
  padding-top:20px;
  -webkit-border-radius: 5px 5px 0px 0px;
     -moz-border-radius: 5px 5px 0px 0px;
       -o-border-radius: 5px 5px 0px 0px;
          border-radius: 5px 5px 0px 0px;
}

.social-container .social-footer i {
  color: #E0E0E0;
  font-size:22px;
  line-height:38px;
  width:38px;
  height:38px;
  margin:0px 4px;
}

.social-container .social-footer i:hover  {
  color: #154268;
}

@media (max-width: 768px) {

  .social-container {
    position:relative;
    margin-top:0px;
    background:#e4545b;
  }
  
  .social-container .social-footer {
    height:auto;
    padding:20px 0px;
    -webkit-border-radius: 0px 0px 0px 0px;
       -moz-border-radius: 0px 0px 0px 0px;
         -o-border-radius: 0px 0px 0px 0px;
            border-radius: 0px 0px 0px 0px;
  }

}  

/*/////////////////////
MEDIA QUERIES
/////////////////////*/

@media all and (max-width: 768px){
.slide1 {
    padding-top: 20px;
    width: 900px;
    height: 465px;
}
 .slide1 img {
    margin-top: 20px;
    margin-left: -80px;
    width: 400px;
    height: 303px;
}
.slide2 {
    width: 600px;
    height: 465px;
    background: #2570a6;
    border-left: 1px solid #194f77;
}
.tagline {
    width: 400px;
    float: right;
    height: 400px;
    margin-right: 50px;
}
.tagline1 {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    color: #d3d3d3;
    line-height: 45px;
    margin-right: 100px;
}
.tagline span {
    text-align: left;
    font-size: 35px;
    font-weight: bolder;
    line-height: 45px;
    color: #f1f1f1;
    text-shadow: 4px 3px 0px #154268, 7px 6px 0px rgba(0,0,0,0.1);
}
.tagline2 {
    padding-top: 120px;
    font-size: 30px;
    font-weight: bolder;
    text-align: left;
    font-weight: bold;
    color: #f1f1f1;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
        0px 8px 13px rgba(0,0,0,0.1),
        0px 18px 23px rgba(0,0,0,0.1);
}

.ping {
    width: 100px;
    height: 100px;
    background: red;
}
