body, html {
    background-color: #E0E0E0 !important;
}

.logo {
    width: 210px;
    height: 77px;
    -moz-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}

.logo:hover {
    opacity: .8;
}

.slider {
    margin-top: 110px;
}

/*/////////////////////
 FEAUTURES SECTION
/////////////////////*/
.moreFeatures {
    width: 100% !important;
    height: 400px;
    background: #154268;
    border-top: 1px solid #E0E0E0;
}

.moreFeatures ul {
    color: #ffffff;
    font-size: 20px;
    list-style: none;
    line-height: 35px;
    padding-top: 30px;
    font-weight: 400;
}

.sectionHeader1 {
    height: 120px;
    border: 2px solid #E0E0E0;
    background: #205E8C;
    margin-top: -20px;
}

.sectionHeader1 > p {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 75px;
    color: #E0E0E0;
    text-align: center;
}
/*/////////////////////
 HOW IT WORKS SECTION
/////////////////////*/

.sectionHeader2 {
height: 120px;
border: 2px solid #E0E0E0;
background: none repeat scroll 0% 0% #205E8C;
margin-top: -20px;
float: right;
}

.sectionHeader2 > p {
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 24px;
    padding-left: 12px;
    padding-top: 75px;
    color: #E0E0E0;
    text-align: center;
}

.howItWorks {
    width: 100%;
    height: 300px;
    background: #cbcbcb;
}

/*/////////////////////
 SPECS SECTION
/////////////////////*/
.specs {
    width: 100%;
    height: 300px;
    background: #cbcbcb;
}

/*/////////////////////
 FOOTER SECTION
/////////////////////*/
.footer {
    background-color: #205E8C !important;
    width: 100% !important;
    color: #fff;
}

/*Overwriting Bootstrap Default Styles*/

.navbar-header {
    height: 110px;
}

.navbar-default {
    background-color: #E0E0E0 !important;
    border-bottom: 2px solid #b1b1b1 !important;
    opacity: .93;
    -moz-transition: opacity 200ms;
    -webkit-transition: opacity 200ms;
    -o-transition: opacity 200ms;
    transition: opacity 200ms;
}
.navbar-default:hover {
    opacity: 1;
}

.navbar-default .navbar-nav > li {
    margin-right: 30px;
    margin-top: 34px;
}
.navbar-default .navbar-nav > li > a{
    color: #A4A4A4 !important;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    border: 1px solid #E0E0E0;
    -moz-transition: color 200ms, border 200ms;
    -webkit-transition: color 200ms, border 200ms;
    -o-transition: color 200ms, border 200ms;
    transition: color 200ms, border 200ms;
}
.navbar-default .navbar-nav > li > a:hover {
        border: 1px solid #154368;
             color: #154368 !important;
}
.navbar-default .navbar-brand {
    color: #FFF !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #E0E0E0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #205E8C !important;
}
.navbar-default .navbar-toggle {
    border-color: #FFF !important;
}

