body, html {
    background-color: #E0E0E0 !important;
}

.heroSlider {
	width: 100%;
	background-color: #E0E0E0;
	height: 300px;
}

.footer {
    background-color: #205E8C !important;
    width: 100% !important;
    color: #fff;
}

/*Overwriting Bootstrap Default Styles*/

.navbar-default {
    border-color: #154268 !important;
    background-color: #154268 !important;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF !important;
}

.navbar-default .navbar-brand {
    color: #FFF !important;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #E0E0E0 !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF !important;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #205E8C !important;
}
.navbar-default .navbar-toggle {
    border-color: #FFF !important;
}
